:root {
    --accent-purple: #401D53;
}

/* custom home page */

/* band 1 */
.custom-home-page .main-content-wrapper .main-content-wrapper-inner 
.HomeContentWrapper .band-1 {
    padding: 5px 10px;
}

/* band 1 carousel */
.custom-home-page .main-content-wrapper .main-content-wrapper-inner 
.HomeContentWrapper .band-1 .single-column .PageWidget 
.boxContainer1 .boxContainer2 .MainWidgetWrapper.carousel img {
    height: 50dvh; /* change image height here */
}

/* band 1 welcome global widget text */
.custom-home-page .main-content-wrapper .main-content-wrapper-inner 
.HomeContentWrapper .band-1 .single-column .PageWidget 
.boxContainer1 .boxContainer2 .MainWidgetWrapper .boxContentCon1 .WidgetWrapper
.CustomWidgetBody .inlineEditor {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 40px;
    margin-top: 60px;
}

/* band 2 */
.custom-home-page .main-content-wrapper .main-content-wrapper-inner 
.HomeContentWrapper .band-2 {
    margin-top: 40px;
}

/* band 2 event global widget title */
.custom-home-page .main-content-wrapper .main-content-wrapper-inner 
.HomeContentWrapper .band-2 .container .single-column
.PageWidget .boxContainer1 .boxContainer2 .MainWidgetWrapper
.boxHeaderContainer1 .boxHeaderContainer2 .h2 {
    text-align: center;
}

/* band 2 event global widget image */
.custom-home-page .main-content-wrapper .main-content-wrapper-inner 
.HomeContentWrapper .band-2 .container .single-column
.PageWidget .boxContainer1 .boxContainer2 .MainWidgetWrapper
.boxContentCon1 .WidgetWrapper .CustomWidgetBody .inlineEditor img {
    border: 2px solid var(--accent-purple);
    width: 400px; /* change image width here */
    height: 500px; /* change image height here */
}

/* band 2 event global widget text */
.custom-home-page .main-content-wrapper .main-content-wrapper-inner 
.HomeContentWrapper .band-2 .container .single-column
.PageWidget .boxContainer1 .boxContainer2 .MainWidgetWrapper
.boxContentCon1 .WidgetWrapper .CustomWidgetBody .inlineEditor {
    width: 60%;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 10px;
    text-align: center;
}

/* band 3 */
.custom-home-page .main-content-wrapper .main-content-wrapper-inner 
.HomeContentWrapper .band-3 {
    margin-top: 40px;
}

/* band 3 main column */
.custom-home-page .main-content-wrapper .main-content-wrapper-inner 
.HomeContentWrapper .band-3 .wide-two-narrow .main-column .PageWidget
.boxContainer1 {
    border: 2px solid var(--accent-purple);
    margin-top: 10px;
}

/* band 3 side column widgets */
.custom-home-page .main-content-wrapper .main-content-wrapper-inner 
.HomeContentWrapper .band-3 .wide-two-narrow .side-column .PageWidget 
.boxContainer1 {
    border: 2px solid var(--accent-purple);
    padding: 10px 20px;
} 

/* band 4 */
.custom-home-page .main-content-wrapper .main-content-wrapper-inner 
.HomeContentWrapper .band-4 {
    margin-top: 40px;
}

/* band 4 home page news */
.custom-home-page .main-content-wrapper .main-content-wrapper-inner 
.HomeContentWrapper .band-4 .container .single-column .PageWidget 
.boxContainer1 .boxContainer2 .MainWidgetWrapper.news {
    border: 2px solid var(--accent-purple);
    padding: 10px 20px;
}

/* band 4 see more stories */
.custom-home-page .main-content-wrapper .main-content-wrapper-inner 
.HomeContentWrapper .band-4 .container .single-column .PageWidget 
.boxContainer1 .boxContainer2 .MainWidgetWrapper.CustomWidget {
    padding: 10px 20px;
    text-align: end;
}

/* band 4 about club */
.custom-home-page .main-content-wrapper .main-content-wrapper-inner 
.HomeContentWrapper .band-4 .container .single-column .PageWidget 
.boxContainer1 .boxContainer2 .MainWidgetWrapper.ClubInfo {
    padding: 10px 20px;
}

/* members portal */

/* band 1 */
.custom-members-portal .main-content-wrapper .main-content-wrapper-inner
.HomeContentWrapper .band-1 {
    padding: 5px 10px;
}

/* band 1 members portal global widget text */
.custom-members-portal .main-content-wrapper .main-content-wrapper-inner
.HomeContentWrapper .band-1 .single-column .PageWidget 
.boxContainer1 .boxContainer2 .MainWidgetWrapper 
.boxContentCon1 .WidgetWrapper .preformatted .col-xs-12 {
    border: 2px solid var(--accent-purple);
    padding: 10px 20px;
    height: 420px;
}

/* band 4 page widgets */
.custom-members-portal .main-content-wrapper .main-content-wrapper-inner 
.HomeContentWrapper .band-4 .equal-columns .col-xs-12 .PageWidget {
    border: 2px solid var(--accent-purple);
    width: 250px;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
}

/* band 4 bulletins widget */
.custom-members-portal .main-content-wrapper .main-content-wrapper-inner
.HomeContentWrapper .band-4 .equal-columns .col-xs-12 .PageWidget 
.boxContainer1 .boxContainer2 .CustomWidget {
    padding: 10px 20px;
}

/* stories page */
.custom-stories .main-content-wrapper .main-content-wrapper-inner 
.HomeContentWrapper .band-1 {
    padding: 10px 20px;
}

